<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.sool.mapper.ImageMapper">

    <!-- 이미지 등록 -->
    <insert id="insertImage" parameterType="com.example.sool.dto.ImageDto">
        INSERT INTO image (
            obj_id,
            obj_type,
            file_key,
            file_url,
            created_at
        )
        VALUES (
            #{objId},
            #{objType},
            #{fileKey},
            #{fileUrl},
            NOW()
        )
    </insert>

    <!-- 이미지 단건 조회 -->
    <select id="selectImageById" parameterType="int" resultType="com.example.sool.dto.ImageDto">
        SELECT *
        FROM image
        WHERE image_id = #{imageId}
    </select>

    <!-- 노트 이미지 조회 -->
    <select id="selectImageByNoteId" parameterType="int" resultType="com.example.sool.dto.ImageDto">
        SELECT *
        FROM image
        WHERE obj_id = #{objId}
        AND obj_type = 'NOTE'
        ORDER BY image_id DESC
    </select>

    <!-- 주류 이미지 조회 -->
    <select id="selectImageByDrinkId" parameterType="int" resultType="com.example.sool.dto.ImageDto">
        SELECT *
        FROM image
        WHERE obj_id = #{objId}
        AND obj_type = 'DRINK'
        ORDER BY image_id DESC
    </select>

    <!--이미지 업데이트-->
    <update id="updateImage" parameterType="com.example.sool.dto.ImageDto">
        UPDATE image
        SET
            file_key = #{fileKey},
            file_url = #{fileUrl}
        WHERE obj_type = #{objType}
        AND obj_id = #{objId}
    </update>

    <!-- 이미지 삭제 -->
    <delete id="deleteImage" parameterType="int">
        DELETE FROM image
        WHERE image_id = #{image_id}
    </delete>

    <!--회원 삭제 시 노트 이미지 삭제-->
    <delete id="deleteImageByUserId" >
        DELETE FROM image
        WHERE obj_type = 'NOTE'
        AND obj_id IN (
            SELECT note_id 
            FROM tasting_note 
            WHERE user_id = #{userId}
        )
    </delete>

</mapper>