<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.sool.mapper.LikeMapper">
    <insert id="insertLike" parameterType="com.example.sool.dto.LikeDto">
        INSERT INTO LIKE
        (
            user_id,
            obj_id,
            obj_type,
            created_at
        )
        VALUES
        (
            #{userId},
            #{objId},
            #{objType},
            NOW()
        )
    </insert>

    <!--좋아요 삭제-->
    <delete id="deleteLike" parameterType="com.example.sool.dto.LikeDto">
        DELETE
        FROM like
        WHERE user_id = #{userId}
        <choose>
            <when test="noteId != null">
                AND note_id = #{noteId}
            </when>
            <when test="drinkId != null">
                AND drink_id = #{drinkId}
            </when>
        </choose>
    </delete>

    <!-- 마이페이지 좋아요 목록 -->
    <select id="findByUserId" parameterType="int" resultType="com.example.sool.dto.LikeDto">
        SELECT *
        FROM like
        WHERE user_id = #{userId}
        ORDER BY created_at DESC
    </select>

</mapper>