<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.sool.mapper.LikeMapper">
    <insert id="insertLike" parameterType="com.example.sool.dto.LikeDto">
        INSERT INTO `like`
        (
            user_id,
            obj_id,
            obj_type,
            created_at
        )
        VALUES
        (
            #{userId},
            #{objId},
            #{objType},
            NOW()
        )
    </insert>

    <select id="existsLike" parameterType="com.example.sool.dto.LikeDto" resultType="int">
        SELECT count(*)
        FROM `like`
        WHERE user_id = #{userId}
        AND obj_id = #{objId}
        AND obj_type = #{objType}
    </select>

    <!--좋아요 삭제-->
    <delete id="deleteLike" parameterType="com.example.sool.dto.LikeDto">
        DELETE FROM `like`
        WHERE user_id = #{userId}
          AND obj_id = #{objId}
          AND obj_type = #{objType}
    </delete>

    <!-- 마이페이지 좋아요 목록 -->
    <select id="findLikedDrinkList" parameterType="int" resultType="com.example.sool.dto.DrinkDto">
        SELECT
            d.*,
            cc1.code_name AS categoryName,
            cc2.code_name AS typeName,
            i.file_url AS imageUrl,
            IFNULL(
                (
                    SELECT ROUND(AVG(tn.rating), 1)
                    FROM tasting_note tn
                    WHERE tn.drink_id = d.drink_id
                    AND tn.is_deleted = 'N'
                ), 0
            ) AS avgRating
        FROM `like` l

        JOIN drink d
        ON l.obj_id = d.drink_id

        LEFT JOIN image i
            ON i.obj_type = 'NOTE'
            AND i.obj_id = d.drink_id

        <!-- 카테고리 대분류 한글 이름 -->
        LEFT JOIN common_code cc1
            ON d.category_code = cc1.code
            AND cc1.group_code = 'DRINK_CATEGORY'
            AND cc1.use_yn = 'Y'

        <!-- 카테고리 소분류 한글 이름 -->
        LEFT JOIN common_code cc2
            ON d.type_code = cc2.code
            AND cc2.group_code = 'DRINK_TYPE'
            AND cc2.use_yn = 'Y'

        WHERE l.user_id = #{userId}
            AND l.obj_type = 'DRINK'
            AND d.is_deleted = 'N'

        ORDER BY l.created_at DESC
    </select>

    <select id="findLikedNoteList" parameterType="int" resultType="com.example.sool.dto.TastingNoteDto">
        SELECT
            tn.*,
            d.drink_name,
            d.category_code AS categoryCode,
            i.file_url AS imageUrl
        FROM `like` l

        JOIN tasting_note tn
        ON l.obj_id = tn.note_id

        JOIN drink d
        ON tn.drink_id = d.drink_id

        LEFT JOIN image i
        ON i.obj_type = 'NOTE'
        AND i.obj_id = tn.note_id

        WHERE l.user_id = #{userId}
            AND l.obj_type = 'NOTE'
            AND tn.is_deleted = 'N'
    </select>

    <!-- 노트 삭제시 좋아요 모두 삭제-->
    <delete id="deleteAllLike">
        DELETE FROM `like`
        WHERE obj_id = #{objId}
          AND obj_type = #{objType}
    </delete>
</mapper>