<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.sool.mapper.ReportMapper">

    <!-- 신고 사유 가져오기 -->
     <select id="getReportReasons" resultType="com.example.sool.dto.CommonCodeDto">
        SELECT
            code,
            code_name
        FROM common_code
        WHERE group_code = 'REPORT_REASON'
        AND use_yn = 'Y'
        ORDER BY sort_seq
     </select>

    <!-- 신고 등록 -->
    <insert id="insertReport" parameterType="com.example.sool.dto.ReportDto">
        INSERT INTO report (
            user_id,
            obj_id,
            obj_type,
            reason_code,
            status_code,
            created_at
        )
        VALUES (
            #{userId},
            #{objId},
            #{objType},
            #{reasonCode},
            'RECEIVED',
            NOW()
        )
    </insert>

    <!-- 신고 존재 확인 -->
    <select id="existsReport" parameterType="com.example.sool.dto.ReportDto" resultType="int">
        SELECT COUNT(*)
        FROM report
        WHERE user_id = #{userId}
        AND obj_id = #{objId}
        AND obj_type = #{objType}
        AND is_deleted = 'N'
    </select>

    <!-- 마이페이지 신고 조회 -->
    <select id="selectReportByUserid" parameterType="int" resultType="com.example.sool.dto.ReportDto">
        SELECT 
            r.*,
            cc1.code_name AS reportStatus,
            cc2.code_name AS reportReason,

            tn.title AS noteTitle,
            c.content AS commentContent

        FROM report r
        
        LEFT JOIN common_code cc1
            ON r.status_code = cc1.code
            AND cc1.group_code = 'REPORT_STATUS'
            AND cc1.use_yn = 'Y'

        LEFT JOIN common_code cc2
            ON r.reason_code = cc2.code
            AND cc2.group_code = 'REPORT_REASON'
            AND cc2.use_yn = 'Y'

        LEFT JOIN tasting_note tn
            ON r.obj_type = 'NOTE'
            AND r.obj_id = tn.note_id

        LEFT JOIN comment c
            ON r.obj_type = 'COMMENT'
            AND r.obj_id = c.comment_id

        WHERE r.user_id = #{userId}
        AND r.is_deleted = 'N'

        ORDER BY r.created_at DESC
    </select>



    
    <!-- 신고 전체 조회 -->
    <select id="selectReportList" resultType="com.example.sool.dto.ReportDto">
        SELECT *
        FROM report
        WHERE is_deleted = 'N'
        ORDER BY report_id DESC
    </select>

    <!-- 신고 상태 수정 -->
    <update id="updateReportStatus" parameterType="com.example.sool.dto.ReportDto">
        UPDATE report
        SET
            status_code = #{status_code},
            updated_at = NOW()
        WHERE report_id = #{report_id}
    </update>

    <!-- 신고 삭제 -->
    <update id="deleteReport" parameterType="int">
        UPDATE report
        SET
            is_deleted = 'Y',
            deleted_at = NOW()
        WHERE report_id = #{report_id}
    </update>

</mapper>