<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.sool.mapper.TastingNoteMetricMapper">

    <!-- 카테고리 별 지표 조회 -->
    <select id="getMetricCode" parameterType="int" resultType="com.example.sool.dto.CommonCodeDto">
        SELECT
            cc.code,
            cc.code_name
        FROM drink d

        JOIN common_code cc
            ON cc.group_code = 'TASTE_METRIC'

        WHERE d.drink_id = #{drinkId}

        AND d.is_deleted = 'N'
        AND cc.use_yn = 'Y'
        AND cc.is_deleted = 'N'
        AND (
                cc.parent_code IS NULL
                OR cc.parent_code = d.category_code
            )

        ORDER BY cc.sort_seq ASC, cc.code ASC
    </select>

    <!-- 맛 프로파일 등록 -->
    <insert id="insertMetric" parameterType="com.example.sool.dto.TastingNoteMetricDto">
        INSERT INTO tasting_note_metric
        (
            note_id,
            metric_code,
            score
        )
        VALUES
        (
            #{noteId},
            #{metricCode},
            #{score}
        )
    </insert>

    <!-- 점수 수정 -->
    <update id="updateMetric" parameterType="com.example.sool.dto.TastingNoteMetricDto">
        UPDATE tasting_note_metric
        SET score = #{score}
        WHERE note_id = #{noteId}
        AND metric_code = #{metricCode}
    </update>

    <!-- 특정 노트의 맛 점수 조회 -->
    <select id="findByNoteId" parameterType="int" resultType="com.example.sool.dto.TastingNoteMetricDto">
        SELECT 
            tnm.*,
            cc.code_name AS metricName

        FROM tasting_note_metric tnm

        LEFT JOIN common_code cc
            ON  tnm.metric_code = cc.code
            AND cc.group_code = 'TASTE_METRIC'
            
        WHERE note_id = #{noteId}
    </select>

    <!-- 주류 디테일 평균 맛 프로파일 -->
    <select id="findAvgMetricByDrinkId" parameterType="int" resultType="com.example.sool.dto.TastingNoteMetricDto">
        SELECT
            tnm.metric_code,
            cc.code_name AS metricName,
            ROUND(AVG(tnm.score), 1) AS avgScore

        FROM tasting_note_metric tnm

        JOIN tasting_note tn
            ON tn.note_id = tnm.note_id
        AND tn.drink_id = #{drinkId}
        AND tn.is_deleted = 'N'

        LEFT JOIN common_code cc
            ON cc.code = tnm.metric_code
        AND cc.group_code = 'TASTE_METRIC'

        GROUP BY tnm.metric_code, cc.code_name, cc.sort_seq
        ORDER BY cc.sort_seq
    </select>



    <!-- 노트 전체 맛 점수 삭제 -->
    <delete id="deleteByNoteId" parameterType="int">
        DELETE
        FROM tasting_note_metric
        WHERE note_id = #{noteId}
    </delete>

    <!-- 회원 삭제 시 맛 점수 삭제 -->
    <delete id="deleteByUserId" >
        DELETE FROM tasting_note_metric
        WHERE note_id IN (
            SELECT note_id
            FROM tasting_note
            WHERE user_id = #{userId}
        )
    </delete>

</mapper>