<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.sool.mapper.TastingNoteMapper">

    <!-- 노트 등록 -->
    <insert id="insertTastingNote" parameterType="com.example.sool.dto.TastingNoteDto">
        INSERT INTO tasting_note
        (
            user_id,
            drink_id,
            title,
            content,
            rating,
            created_at
        )
        VALUES
        (
            #{userId},
            #{drinkId},
            #{title},
            #{content},
            #{rating},
            NOW()
        )
    </insert>


    <!-- 노트 상세 조회 -->
    <select id="findByNoteId" parameterType="int" resultType="com.example.sool.dto.TastingNoteDto">
        SELECT *
        FROM tasting_note
        WHERE note_id = #{noteId}
        AND is_deleted = 'N'
    </select>


    <!-- 전체 노트 조회 -->
    <select id="findNoteAll" parameterType="int" resultType="com.example.sool.dto.TastingNoteDto">
        SELECT *
        FROM tasting_note
        WHERE drink_id = #{drinkId}
        AND is_deleted = 'N'
        ORDER BY created_at DESC
    </select>

    <!-- 별점높은순 정렬 -->
    <select id="orderByRatingDesc" parameterType="int" resultType="com.example.sool.dto.TastingNoteDto">
        SELECT *
        FROM tasting_note
        WHERE drink_id = #{drinkId}
        AND is_deleted = 'N'
        ORDER BY rating DESC
    </select>


    <!-- 노트 수정 -->
    <update id="updateTastingNote" parameterType="com.example.sool.dto.TastingNoteDto">
        UPDATE tasting_note
        SET
            title = #{title},
            content = #{content},
            rating = #{rating},
            updated_at = NOW()
        WHERE note_id = #{noteId}
        AND user_id = #{userId}
        AND is_deleted = 'N'
    </update>


    <!-- 노트 삭제 -->
    <update id="deleteTastingNote" parameterType="int">
        UPDATE tasting_note
        SET
            is_deleted = 'Y',
            deleted_at = NOW()
        WHERE note_id = #{noteId}
    </update>


    <!-- 사용자 노트 -->
    <select id="findByUserId" resultType="com.example.sool.dto.TastingNoteDto">
        SELECT *
        FROM tasting_note
        WHERE user_id = #{userId}
        AND is_deleted = 'N'
        ORDER BY created_at DESC
    </select>

</mapper>