<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.sool.mapper.UserMapper">
    <!-- 로그인 아이디로 회원 조회 -->
    <select id="findByLoginId" parameterType="String" resultType="com.example.sool.dto.UserDto">
        SELECT *
        FROM user
        WHERE login_id = #{loginId}
        AND is_deleted = 'N'
    </select>


    <!-- 회원 등록 -->
    <insert id="insertUser" parameterType="com.example.sool.dto.UserDto">
        INSERT INTO user (
            login_id,
            password,
            name,
            email,
            role_code,
            created_at
        )
        VALUES (
            #{loginId},
            #{password},
            #{name},
            #{email},
            #{roleCode},
            NOW()
        )
    </insert>

    <!-- 회원 단건 조회 -->
    <select id="selectUserById" parameterType="int" resultType="com.example.sool.dto.UserDto">
        SELECT *
        FROM user
        WHERE user_id = #{userId}
        AND is_deleted = 'N'
    </select>

    <!-- 이름/이메일로 아이디 찾기 -->
    <select id="findByNameAndEmail" parameterType="com.example.sool.dto.UserDto" resultType="com.example.sool.dto.UserDto">
        SELECT login_id
        FROM user
        WHERE email = #{email}
        AND name = #{name}
        AND is_deleted = 'N'
    </select>

    <!-- 이메일로 회원 조회 -->
    <select id="selectUserByEmail" parameterType="String" resultType="com.example.sool.dto.UserDto">
        SELECT *
        FROM user
        WHERE email = #{email}
        AND is_deleted = 'N'
    </select>

    <!-- 회원 비밀번호 수정 -->
    <update id="updateUserPassword" parameterType="com.example.sool.dto.UserDto">
        UPDATE user
        SET
            password = #{password},
            updated_at = NOW()
        WHERE user_id = #{userId}
    </update>

    <!-- 마이페이지 사이드바 -->
    <select id="selectMyPageSidebar" parameterType="int" resultType="com.example.sool.dto.UserDto">
        SELECT
            u.user_id,
            u.login_id,
            u.name,
            u.email,
            (
                SELECT COUNT(*)
                FROM tasting_note tn
                WHERE tn.user_id = u.user_id
                AND tn.is_deleted = 'N'
            ) AS noteCount,
            (
                SELECT COUNT(*)
                FROM `like` l
                WHERE l.user_id = u.user_id
            ) AS likeCount

        FROM user u
        WHERE u.user_id = #{userId}
    </select>


    <select id="findPasswordByUserId" resultType="string">
        SELECT password
        FROM user
        WHERE user_id = #{userId}
    </select>



    <!-- 회원 전체 조회 -->
    <select id="selectUserList" resultType="com.example.sool.dto.UserDto">
        SELECT *
        FROM user
        WHERE is_deleted = 'N'
        ORDER BY user_id DESC
    </select>


    <!-- 회원 정보 수정 -->
    <update id="updateUser" parameterType="com.example.sool.dto.UserDto">
        UPDATE user
        SET
            login_id = #{loginId},
            name = #{name},
            email = #{email},
            role_code = #{roleCode},
            updated_at = NOW()
        WHERE user_id = #{userId}
    </update>


    <!-- 회원 삭제 -->
    <update id="deleteUser" parameterType="int">
        UPDATE user
        SET
            is_deleted = 'Y',
            updated_at = NOW()
        WHERE user_id = #{userId}
    </update>


</mapper>